/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap/dist/css/bootstrap-grid.min.css';


#navbarNav h1{
    font-variant-caps: petite-caps;
    font-family: serif;
    color:#368f3a !important;
    font-size: xx-large;
}

#navbarNav a{
    text-decoration: none;
}

#navbar li a{
    color:rgba(54,143,58,0.5);
    font-weight: bold;
}

#navbar li a:hover{
    color:rgba(54,143,58,0.8);
    font-weight: bold;
}

#navbar li.active a{
    color:rgba(54,143,58,1);
}

#item-list .list-group-item{
    margin-bottom: 8px ;
    margin-top: 8px ;
}

#item-list a{
    text-decoration: none;
}

.visible{
    display: block !important;
}

.addMarginRight{
    margin-right : 8px;
}

.inline-block{
    display: inline-block;
}

.switch {
    position: relative;
    display: inline-block;
    width: 180px;
    height: 34px;
    margin: auto 8px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {display:none;}
  
  /* The slider */
  .slider {
    color: white;
    padding: 4px;
    font-style: italic;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider span{
      margin-right:8px;
      margin-left: 8px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 50%;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(92%);
    -ms-transform: translateX(92%);
    transform: translateX(92%);
  }

  .back-to-list{
      text-decoration : underline;
      font-family: cursive;
      margin-bottom: 16px;
  }

  #item-list{
      width : 100%;
  }